body {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff4646, #ff550c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff4646, #ff550c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');

body {
    font-family: 'Snippet', sans-serif;
}

html{background-color:transparent;}
h1{text-align:center; margin-top:1%; color:rgb(0, 0, 0);}
#counter {margin-top:2%; color:rgb(0, 0, 0); font-size:40px;}
